duckduckgo-search
phidata
google-generativeai
streamlit
googlesearch-python
pandas
yfinance
groq
uvicorn
fastapi
plotly 
pycountry 
openai
packaging
python-dotenv
langchain-community
urllib3
matplotlib
streamlit-aggrid
streamlit-extras
