phidata 
python-dotenv
yfinance
packaging
duckduckgo-search
fastapi
uvicorn
groq
openai
streamlit
pandas
plotly
googlesearch-python
pycountry
urllib3
matplotlib
langchain-community
google-generativeai
langchain
python-dotenv
PyPDF2
faiss-cpu
langchain_google_genai
streamlit-aggrid
streamlit-extras
